<ion-header>
  <ion-toolbar>
    <ion-title>Pelatihan Enuma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="profile">Profile</ion-card-title>
    </ion-card-header>
    <ion-card-content class="bg">
      <div class="profile-pic" (click)="uploadImage()">
        <img [src]="photoURL" alt="Profile picture"/>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
      </div>

      <div class="profile-info">
        <p><strong>Nama: </strong> Adam Rizqi El R</p>
        <p><strong>Sekolah: </strong> SMK Negeri 2 Surakarta</p>
        <p><strong>NISN: </strong> 04274824</p>
        <p><strong>Umur: </strong> 16 tahun</p>
        <p><strong>Alamat: </strong> Jalan Melati 3 Purbayan, Baki, Sukoharjo</p>
        <p><strong>Tanggal: </strong> 14 April 2020</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>